.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.calculator-body {
    width: 495px;
    min-width: 495px;
    padding: 47px 48px 65px;
    border-radius: 15px;
    background: var(--calc-back-color);

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.display-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #6469DC;
    color: #fff;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#clr {
    font-size: .63rem;
    color: #fff;
}

.buttons {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
}

.input-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1rem;
    background: var(--num-back-color);
}

.input-button:hover {
    filter: brightness(120%);
}

#clr:hover,
.input-button:hover {
    animation: standardHover .1s forwards;
}

@keyframes standardHover {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-2px) scale(1.03);
    }
}